body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

.top-section-wrapper {
  background-color: #001d37;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}

.top-section {
  color: #fff;
  padding-top: 139px;
  padding-bottom: 139px;
  max-width: 1066px;
  margin: 0 auto;
  position: relative;
}

.actual-top-content {
  z-index: 2;
  position: relative;
}

.top-section h1 {
  font-size: 6.25rem;
  margin: 0;
  line-height: 97.3%;
  max-width: 525px;
}

.intro-text {
  font-size: 1.25rem;
  line-height: 169.3%;
  margin: 1rem 0;
  max-width: 435px;
}

.intro-buttons {
  margin-bottom: 129px;
}

.our-btn {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #475aff;
  border: 2px solid #475aff;
  color: azure;
  text-decoration: none;
  padding: 13px 25px;
  border-radius: 1000px;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid azure;
}

.intro-feature {
  padding: 33px 25px;
  border: thin solid rgba(255, 255, 255, 0.24);
}

.intro-feature p {
  margin: 0;
  font-size: 1.0625rem;
}

.intro-feature h2 {
  font-size: 1.5rem;
  margin: 31px 0 4px 0;
}

.intro-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
}

.circle {
  width: 617px;
  height: 617px;
  background: #d660ff;
  opacity: 0.85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: 62px;
  right: -390px;
}

.circle-two {
  width: 617px;
  height: 617px;
  background: #6079ff;
  opacity: 0.85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: -365px;
  left: -123px;
}

.pet-filter {
  color: #9f9f9f;
  font-size: 1.15rem;
}

.pet-filter button {
  background-color: transparent;
  border: none;
  color: #9f9f9f;
  font-size: 1.15rem;
  cursor: pointer;
}

.pet-filter button:hover {
  color: #7d7d7d;
  text-decoration: underline;
}

.pet-filter .active,
.pet-filter .active:hover {
  color: #475aff;
}

.intro-para {
  font-size: 1.5em;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.text-info {
  font-size: 1.5em;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.pet-card-template {
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 2%;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 5px #888888;

}

.pet-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
}

.pet-description {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 12px;
}

;

.pet-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}